twitter_flow_with_updates.json
[{"id":"c4ca8e2f.8b5bd","type":"twitter in","z":"171c9e2a.355342","twitter":"","tags":"@banana1sandwich","user":"false","name":"grab tweets","topic":"tweets","inputs":1,"x":95,"y":320,"wires":[[]]},{"id":"c49523c.22787e","type":"comment","z":"171c9e2a.355342","name":"grab tweets","info":"text to be input","x":117,"y":127,"wires":[]},{"id":"fc69295d.1eaaa8","type":"comment","z":"171c9e2a.355342","name":"analysis on tweet","info":"Natural Language Understanding is the most compresensive node to use.","x":427,"y":157,"wires":[]},{"id":"5e356329.6da90c","type":"comment","z":"171c9e2a.355342","name":"build response based on sentiment outcome","info":"how do we retain incoming twitter handle (tweet.user.screen_name)?\n\nif sentiment = negative \n    then return random from list:\n    {\"Turn that frown upside down! #negative\" or \n    witty response 2\n    witty response 3 ... \n    witty response 10};\n        \nif sentiment = positive \n    then return random from list:\n    {\"We like us too! #positive\" or \n    witty response 2\n    witty response 3 ... \n    witty response 10}    \n    \nif sentiment = neutral \n    then return random from list:\n    {\"Magic 8-ball says unlikely! #nautral\" or \n    witty response 2\n    witty response 3 ... \n    witty response 10}\n\nelse return (*what ?* )","x":527,"y":357,"wires":[]},{"id":"f265002a.3ac81","type":"comment","z":"171c9e2a.355342","name":"prep for LED output","info":"configure colors and text output","x":437,"y":657,"wires":[]},{"id":"6e1ea55c.e7213c","type":"watson-tone-analyzer-v3","z":"171c9e2a.355342","name":"","tones":"emotion","sentences":"false","contentType":"false","tone-method":"generalTone","interface-version":"2016-05-19","inputlang":"en","default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/tone-analyzer/api","x":517,"y":205,"wires":[["d6903953.596518"]]},{"id":"448d0c72.b7b0f4","type":"natural-language-understanding","z":"171c9e2a.355342","name":"natural-language-understanding","categories":false,"concepts":false,"maxconcepts":"8","doc-emotion":true,"doc-emotion-target":"","doc-sentiment":true,"doc-sentiment-target":"","entity":true,"entity-emotion":true,"entity-sentiment":true,"maxentities":"50","keyword":false,"keyword-emotion":false,"keyword-sentiment":false,"maxkeywords":"50","metadata":false,"relation":false,"semantic":false,"semantic-entities":false,"semantic-keywords":false,"maxsemantics":"50","default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/natural-language-understanding/api","x":567,"y":258,"wires":[[]]},{"id":"a449875a.44e208","type":"comment","z":"171c9e2a.355342","name":"append twitter handle to reply","info":"twitter handle is tweet.user.screen_name \n\n","x":467,"y":507,"wires":[]},{"id":"e0ffa0f9.be518","type":"comment","z":"171c9e2a.355342","name":"send reply to LED machine","info":"to be included:\n\n* twitter handle of analyzed tweet\n* reply to tweet\n* color of font as it corresponds to sentiment\n\n\n__Things to consider:__\n* How many times should the message scroll across the screen?\n","x":457,"y":817,"wires":[]},{"id":"e674972e.94adb8","type":"comment","z":"171c9e2a.355342","name":"Things to consider","info":"__Things to consider:__\n* How many times should the message scroll across the screen?\n* What should be displayed on the board:\n    * between output responses\n    * while we are \"walking down the hallway\"\n    * while we are talking to people","x":667,"y":67,"wires":[]},{"id":"d6903953.596518","type":"function","z":"171c9e2a.355342","name":"add emotion to context","func":"var handle = msg.tweet.user.screen_name;\nvar emotions = [];\nvar threshold = 0.4;\nvar topemotion ='';\n\n// simplify object returned by tone analyser to only the emotion tones\nemotions = msg.response.document_tone.tone_categories\n                .filter(function(c){\n                    if (c.category_id == \"emotion_tone\")\n                    {return c; }\n                    })[0].tones;\n                    \n\nnode.warn(\"Detected tones: \\n\" + JSON.stringify(emotions));\n\n// find highest score and return that tone name, if that score is greater than the threshold\ntopemotion = emotions.reduce(function(a, b){ return a.score > b.score ? a : b; });\n\nif (topemotion.score > threshold) {\n    topemotion = topemotion.tone_name;\n} else {\n    topemotion = \"neutral\";\n}\n\n\n// add top emotion to conversation context\nmsg.additional_context = { \"user\": handle,emotion: topemotion };\n\nnode.warn(\"Emotion added to conversation context:\\n   \" +  topemotion);    \n\n\nreturn msg;\n","outputs":1,"noerr":0,"x":747,"y":205,"wires":[["6b7f2a36.cb2d04","6cf9f014.3b9f1"]]},{"id":"eda043f8.cb5ee","type":"watson-conversation-v1","z":"171c9e2a.355342","name":"","workspaceid":"83939d5f-9bfe-4e6a-804b-5d323e9018f1","multiuser":false,"context":true,"empty-payload":false,"default-endpoint":false,"service-endpoint":"","x":507,"y":407,"wires":[["91a6edda.1e1fc"]]},{"id":"91a6edda.1e1fc","type":"debug","z":"171c9e2a.355342","name":"","active":true,"console":"false","complete":"payload.output.text[0]","x":737,"y":407,"wires":[]},{"id":"baa21c0d.87fe","type":"inject","z":"171c9e2a.355342","name":"","topic":"","payload":"it's really horrendous how badly these nodes are documented - There is absolutely no way any body can follow that! Infuriating!","payloadType":"str","repeat":"","crontab":"","once":false,"x":114,"y":180,"wires":[["735dcc86.45dd04"]]},{"id":"c3a0d621.0e4f98","type":"link in","z":"171c9e2a.355342","name":"conversation in","links":["6b7f2a36.cb2d04"],"x":372,"y":407,"wires":[["eda043f8.cb5ee"]]},{"id":"6b7f2a36.cb2d04","type":"link out","z":"171c9e2a.355342","name":"tone out","links":["c3a0d621.0e4f98"],"x":912,"y":245,"wires":[]},{"id":"735dcc86.45dd04","type":"link out","z":"171c9e2a.355342","name":"text out","links":["fa491bd0.80fac8"],"x":247,"y":197,"wires":[]},{"id":"fa491bd0.80fac8","type":"link in","z":"171c9e2a.355342","name":"analysis in","links":["735dcc86.45dd04"],"x":372,"y":245,"wires":[["6e1ea55c.e7213c"]]},{"id":"c22f456f.0117a8","type":"link in","z":"171c9e2a.355342","name":"add text in","links":["db6d64ef.2e2248"],"x":362,"y":557,"wires":[[]]},{"id":"d6f34ce9.7c17f","type":"link out","z":"171c9e2a.355342","name":"","links":["4a835dac.a793a4"],"x":677,"y":557,"wires":[]},{"id":"4a835dac.a793a4","type":"link in","z":"171c9e2a.355342","name":"prep for LED in","links":["d6f34ce9.7c17f"],"x":362,"y":707,"wires":[[]]},{"id":"db6d64ef.2e2248","type":"link out","z":"171c9e2a.355342","name":"response out","links":["c22f456f.0117a8"],"x":712,"y":447,"wires":[]},{"id":"bd6e71aa.5cfe8","type":"link in","z":"171c9e2a.355342","name":"send to LED in","links":["4600c935.af8b48"],"x":362,"y":867,"wires":[[]]},{"id":"4600c935.af8b48","type":"link out","z":"171c9e2a.355342","name":"prep for LED out","links":["bd6e71aa.5cfe8"],"x":672,"y":707,"wires":[]},{"id":"6cf9f014.3b9f1","type":"debug","z":"171c9e2a.355342","name":"","active":true,"console":"false","complete":"additional_context","x":1006,"y":137,"wires":[]}]
