WIPflow1
[{"id":"842bfb6d.b99898","type":"function","z":"4950faeb.050614","name":"sentiment to LED val","func":"var score = msg.sentiment.score;\n\nif(score > 2){\n    //Good, turn LED green\n    msg.payload = \"Green\";\n}\nelse if(score < -2){\n    //Bad, turn LED red\n    msg.payload = \"Red\";\n}else{\n    //Neutral, turn LED blue\n    msg.payload = \"Blue\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":1420,"y":40,"wires":[[]]},{"id":"269af499.52bc3c","type":"twitter in","z":"4950faeb.050614","twitter":"","tags":"@banana1sandwich","user":"false","name":"grab tweets","topic":"tweets","inputs":1,"x":110,"y":230,"wires":[["cd1f0950.b76758"]]},{"id":"5d45f04b.98fb18","type":"sentiment","z":"4950faeb.050614","name":"","x":1180,"y":40,"wires":[["842bfb6d.b99898"]]},{"id":"682dad5c.55be14","type":"comment","z":"4950faeb.050614","name":"grab tweets","info":"select \"all public tweets\" then \nfor: \"@banana1sandwich\"","x":110,"y":110,"wires":[]},{"id":"e6479e88.5ab1a8","type":"comment","z":"4950faeb.050614","name":"analysis on tweet","info":"Natural Language Understanding is the most compresensive node but I used Tone Anayzer because I had code for it.","x":420,"y":140,"wires":[]},{"id":"feafdf81.cec5c8","type":"comment","z":"4950faeb.050614","name":"build response based on sentiment outcome","info":"","x":520,"y":340,"wires":[]},{"id":"8fd2d5fd.358c3","type":"comment","z":"4950faeb.050614","name":"prep for LED output","info":"configure colors and text to be sent to LEDs","x":430,"y":510,"wires":[]},{"id":"bf3677e5.b5c378","type":"watson-tone-analyzer-v3","z":"4950faeb.050614","name":"","tones":"emotion","sentences":"false","contentType":"false","tone-method":"generalTone","interface-version":"2016-05-19","inputlang":"en","default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/tone-analyzer/api","x":510,"y":188,"wires":[["d4c9816f.9c8368"]]},{"id":"937a6863.ff521","type":"natural-language-understanding","z":"4950faeb.050614","name":"natural-language-understanding","categories":false,"concepts":false,"maxconcepts":"8","doc-emotion":true,"doc-emotion-target":"","doc-sentiment":true,"doc-sentiment-target":"","entity":true,"entity-emotion":true,"entity-sentiment":true,"maxentities":"50","keyword":false,"keyword-emotion":false,"keyword-sentiment":false,"maxkeywords":"50","metadata":false,"relation":false,"semantic":false,"semantic-entities":false,"semantic-keywords":false,"maxsemantics":"50","default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/natural-language-understanding/api","x":560,"y":241,"wires":[[]]},{"id":"e41e76d1.baf058","type":"comment","z":"4950faeb.050614","name":"send reply to LED machine","info":"to be included:\n* response to tweet (includes twitter handle)\n* color of font as it corresponds to sentiment\n\n__Things to consider:__\n* How many times should the message scroll across the screen?\n","x":450,"y":670,"wires":[]},{"id":"cedc7b36.aa0538","type":"comment","z":"4950faeb.050614","name":"Things to consider","info":"__Things to consider:__\n* How many times should the message scroll across the screen?\n* What should be displayed on the board:\n    * between output responses\n    * while we are \"walking down the hallway\"\n    * while we are talking to people","x":660,"y":50,"wires":[]},{"id":"d4c9816f.9c8368","type":"function","z":"4950faeb.050614","name":"add emotion to context","func":"var handle = msg.tweet.user.screen_name;\nvar emotions = [];\nvar threshold = 0.4;\nvar topemotion ='';\n\n// simplify object returned by tone analyser to only the emotion tones\nemotions = msg.response.document_tone.tone_categories\n                .filter(function(c){\n                    if (c.category_id == \"emotion_tone\")\n                    {return c; }\n                    })[0].tones;\n                    \n\nnode.warn(\"Detected tones: \\n\" + JSON.stringify(emotions));\n\n// find highest score and return that tone name, if that score is greater than the threshold\ntopemotion = emotions.reduce(function(a, b){ return a.score > b.score ? a : b; });\n\nif (topemotion.score > threshold) {\n    topemotion = topemotion.tone_name;\n} else {\n    topemotion = \"neutral\";\n}\n\n\n// add top emotion to conversation context\nmsg.additional_context = { \"user\": handle,emotion: topemotion };\n\nnode.warn(\"Emotion added to conversation context:\\n   \" +  topemotion);    \n\n\nreturn msg;\n","outputs":1,"noerr":0,"x":740,"y":188,"wires":[["6c6bf7df.883ea8","9cd36cea.0c5348"]]},{"id":"152b059c.f31c92","type":"watson-conversation-v1","z":"4950faeb.050614","name":"","workspaceid":"83939d5f-9bfe-4e6a-804b-5d323e9018f1","multiuser":false,"context":true,"empty-payload":false,"default-endpoint":false,"service-endpoint":"","x":500,"y":390,"wires":[["1059e669.898fea"]]},{"id":"1059e669.898fea","type":"debug","z":"4950faeb.050614","name":"","active":true,"console":"false","complete":"payload.output.text[0]","x":730,"y":390,"wires":[]},{"id":"4ebf2a9c.47b93c","type":"inject","z":"4950faeb.050614","name":"","topic":"","payload":"it's really horrendous how badly these nodes are documented - There is absolutely no way any body can follow that! Infuriating!","payloadType":"str","repeat":"","crontab":"","once":false,"x":110,"y":160,"wires":[[]]},{"id":"f05f36e2.19962","type":"link in","z":"4950faeb.050614","name":"conversation in","links":["6c6bf7df.883ea8"],"x":365,"y":390,"wires":[["152b059c.f31c92"]]},{"id":"6c6bf7df.883ea8","type":"link out","z":"4950faeb.050614","name":"tone out","links":["f05f36e2.19962"],"x":905,"y":228,"wires":[]},{"id":"cd1f0950.b76758","type":"link out","z":"4950faeb.050614","name":"text out","links":["85757172.56e3c8"],"x":240,"y":180,"wires":[]},{"id":"85757172.56e3c8","type":"link in","z":"4950faeb.050614","name":"analysis in","links":["cd1f0950.b76758"],"x":365,"y":228,"wires":[["bf3677e5.b5c378"]]},{"id":"50c75c1.d4f2fa4","type":"link in","z":"4950faeb.050614","name":"prep for LED in","links":["339f4d1d.9d29ba","9e6c2088.aafb18"],"x":355,"y":560,"wires":[[]]},{"id":"9e6c2088.aafb18","type":"link out","z":"4950faeb.050614","name":"response out","links":["50c75c1.d4f2fa4"],"x":705,"y":430,"wires":[]},{"id":"7ddf84e3.4fa2c4","type":"link in","z":"4950faeb.050614","name":"send to LED in","links":["b420568c.8abcb8"],"x":355,"y":720,"wires":[[]]},{"id":"b420568c.8abcb8","type":"link out","z":"4950faeb.050614","name":"prep for LED out","links":["7ddf84e3.4fa2c4"],"x":665,"y":560,"wires":[]},{"id":"9cd36cea.0c5348","type":"debug","z":"4950faeb.050614","name":"","active":true,"console":"false","complete":"true","x":970,"y":170,"wires":[]}]
